@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.theme-opacity {
		@apply group-data-[theme='light']:hover:opacity-85 group-data-[theme='dark']:hover:brightness-110;
	}

	.light-theme-brightness {
		@apply group-data-[theme='dark']:hover:opacity-100 group-data-[theme='light']:hover:brightness-[.98];
	}

	.quiz-btn {
		@apply theme-opacity light-theme-brightness rounded-lg bg-secondary px-6 py-3 font-semibold text-contrast transition;
	}

	.quiz-btn-contrast {
		@apply theme-opacity w-max rounded-lg bg-contrast px-6 py-3 font-semibold text-primary transition;
	}
}

:root {
	--ff-general: "Poppins", sans-serif;
	--ff-code: "Fira Code", monospace;
	--color-primary: 251, 253, 255;
	--color-secondary: 245, 248, 253;
	--color-contrast-muted: 221, 232, 250;
	--color-contrast: 39, 56, 124;

	color-scheme: light dark;
	background-color: rgb(var(--color-primary));
	color: rgb(var(--color-contrast));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	transition: all 0.125s linear;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: var(--ff-general);
}

footer {
	margin-block-start: auto;
	margin-block-end: 1.5rem;
}

html[data-theme="light"] {
	--color-primary: 251, 253, 255;
	--color-secondary: 245, 248, 253;
	--color-contrast-muted: 233, 240, 251;
	--color-contrast: 39, 56, 124;
}

html[data-theme="dark"] {
	--color-primary: 26, 33, 37;
	--color-secondary: 45, 50, 55;
	--color-contrast-muted: 51, 65, 85;
	--color-contrast: 187, 204, 230;
}
