@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.theme-shadow {
		@apply group-data-[theme='dark']:border-2;
	}

	.theme-opacity {
		@apply group-data-[theme='light']:hover:opacity-85 group-data-[theme='dark']:hover:brightness-110;
	}

	.quiz-btn {
		@apply rounded-lg border-2 border-contrast px-6 py-3 font-semibold text-contrast transition hover:bg-contrast hover:text-primary;
	}
}

:root {
	--ff-general: "Poppins", sans-serif;
	--ff-code: "Fira Code", monospace;
	--color-primary: 255, 255, 255;
	--color-secondary: 235, 248, 255;
	--color-contrast: 19, 49, 114;

	color-scheme: light dark;
	background-color: rgb(var(--color-primary));
	color: rgb(var(--color-contrast));
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	transition: all 0.125s linear;
}

body {
	font-family: var(--ff-general);
}

html[data-theme="light"] {
	--color-primary: 255, 255, 255;
	--color-secondary: 235, 248, 255;
	--color-contrast: 19, 49, 114;
}

html[data-theme="dark"] {
	--color-primary: 24, 38, 63;
	--color-secondary: 55, 83, 145;
	--color-contrast: 187, 204, 230;
}
